@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Movie
@using MovieTicketBooking.Models
<div margine="max-width:80%; margin:0 auto">
    <h3>Nội dung phim</h3>
    <div class="row">
        <div class="col-md-3" style="height:350px">
            <img style="height:100%;width:100%; object-fit: contain" src="@Model.Img" alt="">
        </div>
        <div class="col-md-9">
            <h3>@Model.MovieName</h3>
            <div><span style="font-weight:600">Diễn viên:</span> @Model.Actor</div>
            <div><span style="font-weight:600">Thể loại: </span>@{

                                                        for (var i = 0; i < @Model.GenreMovies.Count; i++)
                                                        {
                                                            for (var j = 0; j < ViewBag.ListGenres.Count; j++)
                                                            {
                                                                if (i == j)
                                                                {
                                                                    @(ViewBag.ListGenres[j].GenreName+", ")
                                                                }
                                                            }
                                                        }

                                                    }</div>
            <div><span style="font-weight:600">Khởi chiếu:</span> @Model.StartDate.ToString("dd/MM/yyyy")</div>
            <div><span style="font-weight:600">Thời lượng:</span> @Model.Duration phút</div>
            <div><span style="font-weight:600">Giới hạn tuổi:</span> @ViewBag.AgeLimit.Description</div>
            <div><span style="font-weight:600">Mô tả:</span> @Model.Description</div>
        </div>
    </div>
    <iframe style="margin:30px 30px" width="560" height="315" src="https://www.youtube.com/embed/@Model.Trailer" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>