@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Thông tin cá nhân";
}
@using MovieTicketBooking.Models
@model Customer;
<section style="background-color: #eee;">
    <div class="container py-5">

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="~/customer/images/@Model.Img" alt="avatar"
                             class=" img-fluid" style="width: 150px; height:170px">
                        <h5 class="my-3">@Model.CustomerName</h5>
                        <p class="text-muted mb-1">Hội viên tiềm năng</p>
                        <form method="post" action="/Customer/EditImage" enctype="multipart/form-data">
                            <div class="d-flex justify-content-center mb-2">
                                <input type="file" name="image">
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="Đổi ảnh">
                            </div>
                        </form>

                    </div>
                </div>

            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <form method="post" action="/Customer/Profile">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">ID:</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@Model.CustomerId</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Tên:</p>
                                </div>
                                <div class="col-sm-9">
                                    <input class="mb-0" type="text" name="name" value="@Model.CustomerName" />
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Email:</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@ViewBag.Account.Email</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Phone</p>
                                </div>
                                <div class="col-sm-9">
                                    <input class="mb-0" type="text" name="phone" value="@Model.Phone" />
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Số dư tài khoản</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="text-muted mb-0">@Model.BalanceInWallet</p>
                                </div>

                            </div>
                            <div>Để nạp tiền, hãy chuyển tiền tới số tài khoản 0962034825(MB) với nội dung:<br> <span style="color:red">CGVV  @Model.CustomerId  @ViewBag.Account.Email</span> (Trong đó @Model.CustomerId là ID của bạn) <br>Hệ thống sẽ tiến hành nạp tiền trong chốc lát</div>
                            <hr>
                            <input type="submit" name="submit" class="btn btn-info btn-md" value="Cập nhật thông tin">
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>
